{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}

<div class="card text-white bg-primary mb-3 text-left ybRDV-Cards {{ cardColor }}" style="max-width: 18rem;">
    {#  <h6 class="card-subtitle mb-2">{{ rdv.utilisateur.nom }} {{ rdv.utilisateur.prenom }}</h6> #}
    <div class="card-header ">
        <div class="d-flex align-items-center">
            <img src="{{ asset('assets/images/HERO-fleche.png') }}" alt="Photo du praticien" class="rounded-circle" style="width: 50px; height: 50px;">
            <div>
                <p class="card-text mb-0 mx-lg-3">Praticien : {{ rdv.medecin }}</p>
                <p class="card-text mx-lg-3">Spécialité : {{ rdv.medecin.specialite }}</p>
            </div>
        </div>
    </div>
    <div class="card-body text-center">
        <h5 class="card-title">
            <i class="fas fa-calendar-alt"></i> {{ rdv.date|date('d/m/Y') }} <i class="fas fa-clock"></i> {{ rdv.date|date('H:i') }}
        </h5>
    </div>
</div>
