{% extends 'base.html.twig' %}

{% block title %}SoigneMoi - Bienvenue sur la page d'ajout de rendez-vous{% endblock %}

{% block body %}
    <div class="container my-5">

        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <div class="row d-flex">
            <div class="col-md-8 align-self-stretch">
                <h1>Séjour</h1>

                {{ form_start(formulaireRdv) }}
                {{ form_row(formulaireRdv.date) }}
                {{ form_row(formulaireRdv.nombrePlacesReservees) }}
                {{ form_row(formulaireRdv.motifDeSejour) }}
                {{ form_row(formulaireRdv.medecin) }}
                {{ form_end(formulaireRdv) }}
            </div>
            <div class="col-md-4 d-none d-md-block align-self-stretch">
                <img src="{{ asset('assets/images/SEJOUR-image-01.png') }}" style="width: 100%" alt="rendez-vous" class="img-fluid">
            </div>
        </div>

    </div>
{% endblock %}