{% extends 'base.html.twig' %}

{% block title %}SoigneMoi - Bienvenue sur la page {{ titre_compte }}{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Bienvenue sur votre espace personnel</h1>
    {% if app.user is not null %}
        <p>Vous êtes connecté en tant que <b>{{ app.user.prenom ~ ' ' ~ app.user.nom }}</b></p>
        <p><i>Ce n'est pas vous ? <a href="{{ path('app_deconnexion') }}">Cliquez ici</a></i></p>
    {% else %}
        <p>Vous n'êtes pas connecté.</p>
    {% endif %}
    <div class="row">
        <div class="col-md-3">
            {% include 'compte/_menu.html.twig' %}
        </div>
        <div class="col-md-9">
            <h5>Prendre un rendez-vous avec un praticien</h5>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Spécialité</th>
                </tr>
                </thead>
                {% for medecin in medecins %}
                    <tbody>
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ medecin.prenom }}</td>
                        <td>{{ medecin.nom }}</td>
                        <td>{{ medecin.specialite }}</td>
                        <td><a href="{{ path('app_rendez-vous_ajouter', {'medecinId': medecin.id}) }}" class="btn btn-primary">Prendre rendez-vous</a></td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>

</div>
{% endblock %}
