{% extends 'base.html.twig' %}

{% block title %}SoigneMoi - Bienvenue sur la page {{ titre_compte }}{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="text-center">
            <h1>Bienvenue sur votre espace <span class="text-primary">personnel</span></h1>

            {% if app.user is not null %}
                <p>Vous êtes connecté en tant que <span class="text-primary">{{ app.user.prenom ~ ' ' ~ app.user.nom }}</span></p>
                <p><i>Ce n'est pas vous ? <a href="{{ path('app_deconnexion') }}">Cliquez ici</a></i></p>
            {% else %}
                <p>Vous n'êtes pas connecté.</p>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-3">
                {% include 'compte/_menu.html.twig' %}
            </div>
            <div class="col-md-9">
                <h2 class="mb-4">Liste de rendez-vous</h2>
                <h5>Prendre un rendez-vous avec un praticien</h5>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    {% for data in medecinsData %}
                        <div class="col">
                            <div class="card mb-3 text-left ybRDV-Cards" style="max-width: 18rem;">
                                <div class="card-header bg-white text-dark">
                                    <div class="d-flex align-items-center">
                                        {% if data.medecin.photo %}
                                            <img src="/assets/photos/{{ data.medecin.photo }}" alt="Photo du praticien" class="rounded-circle" style="width: 50px; height: 50px;">
                                        {% else %}
                                            <img src="{{ asset('assets/images/SOIGNEMOI-logo.png') }}" alt="Photo par défaut" class="rounded-circle" style="width: 50px; height: 50px;">
                                        {% endif %}
                                        <div class="ms-3">
                                            <p class="card-text mb-0">Praticien : {{ data.medecin.prenom }} {{ data.medecin.nom }}</p>
                                            <p class="card-text">Spécialité : {{ data.medecin.specialite }}</p>
                                            <hr class="my-2">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body text-center text-white rounded-bottom-corners ybRDV-Cards">
                                    <h5 class="card-title">
                                        Place(s) restante(s) : {{ data.places_restantes }}
                                    </h5>
                                    <a href="{{ path('app_rendez-vous_ajouter', {'medecinId': data.medecin.id}) }}" class="btn btn-primary">Prendre rendez-vous</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
