{% extends 'base.html.twig' %}

{% block title %}À vos cotés pour votre santé | SoigneMoi{% endblock %}

{% block body %}
    {# DEBUT:ACCUEIL:HERO #}
    <div class="ybHeader">
        <div class="ybHeaderFond"></div>
        <div class="ybHeaderImage"></div>
        <div class="ybTexteHeader">
            <h1>SoigneMoi, l'excellence au <br> service de votre bien-être.</h1>
            <p>J’ai besoin de :</p>
        </div>
        <div class="ybBouton" style="left: 97px; top: 449px;">
            <img src="{{ asset('assets/images/HERO-fleche.png') }}" class="ybLogoBouton" alt="Logo">
            <span class="ybTexteBouton">A Propos</span>
        </div>
        <div class="ybBouton" style="left: 530px; top: 449px;">
            <img src="{{ asset('assets/images/HERO-fleche.png') }}" class="ybLogoBouton" alt="Logo">
            <span class="ybTexteBouton">Nous suivre</span>
        </div>
        <div class="ybBouton" style="left: 97px; top: 566px;">
            <img src="{{ asset('assets/images/HERO-fleche.png') }}" class="ybLogoBouton" alt="Logo">
            <span class="ybTexteBouton">Prendre un rendez-vous</span>
        </div>
        <div class="ybBouton" style="left: 530px; top: 566px;">
            <img src="{{ asset('assets/images/HERO-fleche.png') }}" class="ybLogoBouton" alt="Logo">
            <span class="ybTexteBouton">Trouver un praticien</span>
        </div>
    </div>
    {# FIN:ACCUEIL:HERO #}

{# DEBUT:ACCUEIL:PRESENTATION #}
    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="ybTextePresentation">Chez <span class="fw-bold">SoigneMoi,</span> nous avons inscrit la <span class="fw-bold">prévention</span> au  cœur de nos actions et élargi notre offre de soins en apportant des  solutions toujours plus innovantes.
                    Conçue pour s’adapter aux nouveaux  comportements des patients et des citoyens,<span class="fw-bold">SoigneMoi,</span> est une plateforme digitale de services destinée à améliorer
                    <span class="fw-bold">l’accès aux soins, la santé et le bien-être.</span> À la maison comme en établissement de santé, Ramsay Services vous guide pas à pas dans vos démarches, vous
                    informe en toute transparence sur <span class="fw-bold">les étapes à venir,</span> et vous accompagne à travers de <span class="fw-bold">multiples services</span> pour vous apporter <span class="fw-bold">confort et tranquillité,</span>
                    et préserver votre santé et votre bien-être au quotidien.</p>
            </div>
            <div class="col-md-6">
                <img src="{{ asset('assets/images/PRESENTATION-image.png') }}" alt="Image d'un bloc opératoire" class="img-fluid ybCard-image">
            </div>
        </div>
    </div>
    {# FIN:ACCUEIL:PRESENTATION #}

    {# DEBUT:ACCUEIL:CARDS #}
    <div class="container my-5">
        <div class="row align-items-start">
            <div class="col-md-12">
                <div class="mb-5">
                <h2 ><span class="ybCard-titre">SoigneMoi, </span>à vos côtés pour votre santé</h2>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="card ybCard-image">
                            <div class="card-body">
                                <h5 class="card-title ybCard-titre fw-light">Plus de 1.6 million</h5>
                                <p class="card-text">de patients nous ont fait confiance pour réaliser leurs démarches en ligne.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card ybCard-image">
                            <div class="card-body">
                                <h5 class="card-title ybCard-titre fw-light">Plus de 1.6 million</h5>
                                <p class="card-text">de patients nous ont fait confiance pour réaliser leurs démarches en ligne.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card ybCard-image">
                            <div class="card-body">
                                <h5 class="card-title ybCard-titre fw-light">Plus de 1.6 million</h5>
                                <p class="card-text">de patients nous ont fait confiance pour réaliser leurs démarches en ligne.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# FIN:ACCUEIL:CARDS #}

    {# DEBUT:ACCUEIL:CAROUSEL #}
    <div class="container my-5">
        <div class="row align-items-start">
            <div class="col-md-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4 mt-5">
                                    <img class="d-block w-100" src="{{ asset('assets/images/CAROUSEL-image-01.png') }}" alt="First slide">
                                </div>
                                <div class="col-md-4 mt-5">
                                    <img class="d-block w-100" src="{{ asset('assets/images/CAROUSEL-image-02.png') }}" alt="First slide">
                                </div>
                                <div class="col-md-4 mt-5">
                                    <img class="d-block w-100" src="{{ asset('assets/images/CAROUSEL-image-03.png') }}" alt="First slide">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4 mt-5">
                                    <img class="d-block w-100" src="{{ asset('assets/images/CAROUSEL-image-03.png') }}" alt="Second slide">
                                </div>
                                <div class="col-md-4 mt-5">
                                    <img class="d-block w-100" src="{{ asset('assets/images/CAROUSEL-image-02.png') }}" alt="Second slide">
                                </div>
                                <div class="col-md-4 mt-5">
                                    <img class="d-block w-100" src="{{ asset('assets/images/CAROUSEL-image-01.png') }}" alt="Second slide">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4 mt-5">
                                    <img class="d-block w-100" src="{{ asset('assets/images/CAROUSEL-image-02.png') }}" alt="Third slide">
                                </div>
                                <div class="col-md-4 mt-5">
                                    <img class="d-block w-100" src="{{ asset('assets/images/CAROUSEL-image-03.png') }}" alt="Third slide">
                                </div>
                                <div class="col-md-4 mt-5">
                                    <img class="d-block w-100" src="{{ asset('assets/images/CAROUSEL-image-01.png') }}" alt="Third slide">
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {# FIN:ACCUEIL:CAROUSEL #}

    {# DEBUT:ACCUEIL:BANDEAU:PUB #}
    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-md-4">
                <h3 class="text-center fw-bold"><span class="ybCard-titre mt-5">Etre à vos cotés </span>pour votre santé c'est...</h3>
            </div>
            <div class="col-md-4">
                <img src="{{ asset('assets/images/BANDEAU-image-01.png') }}" alt="Image d'une croix" class="img-fluid mx-auto d-block mt-5">
            </div>
            <div class="col-md-4">
                <p class="text-left mt-5">
                    Des expertises médicales à portée de main
                    Bénéficiez de services accessibles
                    en ligne, depuis votre smartphone
                    ou ordinateur.</p>
            </div>
        </div>
    </div>
    {# FIN:ACCUEIL:BANDEAU:PUB #}

    {# DEBUT:ACCUEIL:NEWSLETTER #}
    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="card mb-5 h-100 d-flex flex-column justify-content-between ybCard-image mt-5">
                    <div class="card-body">
                        <h4 class="card-title text-left fw-bold mb-5">Restez informé sur les nouveautés de SoigneMoi Services</h4>
                        <p class="card-text text-left mb-5">
                            Suspendisse venenatis a ex eget lacinia. Sed
                            ultricies quis magna sit amet laoreet.
                            In congue rutrum nibh id pretium.
                            Vivamus rutrum sit amet velit nec ultrices.
                            Suspendisse venenatis a ex eget lacinia. Sed
                            ultricies quis magna sit amet laoreet.
                            In congue rutrum nibh id pretium.
                            Vivamus rutrum sit amet velit nec ultrices
                        </p>
                    </div>
                    <div class="text-center mb-3">
                        <a href="{{ path('app_inscription') }}">
                            <button class="ybButton w-50 mt-5" type="submit">
                                <i class="fas fa-user"></i> S'inscrire
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5"></div>
            <div class="col-md-4 mb-5">
                <img src="{{ asset('assets/images/NEWSLETTER-image-01.png') }}" alt="Image d'une croix" class="img-fluid mx-auto d-block h-100 ybCard-image">
            </div>
        </div>
    </div>

    {# FIN:ACCUEIL:NEWSLETTER #}
{% endblock %}