{% extends 'base.html.twig' %}

{% block title %}SoigneMoi - Bienvenue sur la page {{ titre_inscription }}{% endblock %}

{#   {% block navbar %}{% endblock %} #}

{% block body %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ titre_inscription }}</h1>

                <p><i>Vous avez déjà un compte ? <a href="{{ path('app_connexion') }}">Connectez-vous</a></i></p>

                {{ form_start(formulaireUtilisateurs) }}
                {{ form_row(formulaireUtilisateurs.nom) }}
                {{ form_row(formulaireUtilisateurs.prenom) }}
                {{ form_row(formulaireUtilisateurs.adresse_postale) }}
                {{ form_row(formulaireUtilisateurs.email) }}
                {{ form_row(formulaireUtilisateurs.motDePasse) }}
                {{ form_row(formulaireUtilisateurs.submit) }}
                {{ form_end(formulaireUtilisateurs) }}

            </div>
        </div>
    </div>
{% endblock %}
{% block footer %} {% endblock %}
